@font-face {
  font-family: MyFont;
  src: url("OpenSans-VariableFont_wdth\,wght.ttf");
  font-weight: 300;
  
}
@font-face {
  font-family: MyFont;
  src: url("OpenSans-VariableFont_wdth\,wght.ttf");
  font-weight: 400;
  
}